*.WAV
Downloads_Labels.txt
Downloads_Params.csv
articoli
/output
BirdNET-Analyzer-main
legacy
utils\~$results_analysis.xlsx
utils\results_analysis.xlsx
utils/results_analysis.xlsx
utils/~$results_analysis.xlsx
__pycache__
classifiers/official/_legacy
*.tflite
*.BirdNET.selection.table.txt
BirdNET_SelectionTable.list.txt
BirdNET_analysis_params.csv
*.npz
*.pth