*.WAV
*.tflite
*_Labels.txt
Downloads_Labels.txt
Downloads_Params.csv
articoli
/classifiers
/output
BirdNET-Analyzer-main
legacy
utils\~$results_analysis.xlsx
utils\results_analysis.xlsx
utils/results_analysis.xlsx
utils/~$results_analysis.xlsx
__pycache__